
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Music Contents Platform</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
  <div class="container">
    <div class="jumbotron text-center">
  <h1 style="font-size:50px;">Music Contents Platform</h1><br>
    <p style="
  margin-bottom: 20px;">Be rewarded with your voice.<br></p>
</div>


  <!-- 0. logout 버튼 -->


  <form action="http://localhost:5000/logout">
  <input type="submit" name='logout' value='Logout'class="btn btn-default" style="float:right">
  </form>
  <br><br><br>


  <div class="input-group input-group-lg" style="display:grid;grid-template-columns:1fr 1fr 1fr;">
    <div></div>

<div><!--가운데정렬-->
<!-- 1. 블록체인 정보-->

    <div class="panel panel-default" style="
    margin-bottom: 0px;
  ">
    <div class="panel-body" style="text-align:center; font-size:18px;">

Block Chain Information
    </div>


  </div>
  <span class="input-group-addon" id="sizing-addon1"> 현재 블록수 : {{ now_block_number }} </span><p>
  <span class="input-group-addon" id="sizing-addon1"> 총 토큰 발행량 : {{totalSupply}} </span><p>




<!-- 2. 유저 잔고 -->

<form method='POST'>
    <div class="panel panel-default" style="
    margin-bottom: 0px;">
    <div class="panel-body" style="text-align:center; font-size:18px;">
      Check User Balance
    </div>
    </div>

  <span class="input-group-addon" id="sizing-addon1"> User Address </span>
  <input type="text" class="form-control" list="user_name" name='user_name_balance' placeholder="Address" aria-describedby="sizing-addon1">

  <datalist id = 'user_name'>
  {% for user in user_list %}
  <option value={{user}}></option>
  {% endfor %}
  </datalist>

  <input type="submit" value="확인">
  <span class="input-group-addon" id="sizing-addon1"> 잔고 :   {{ show_token }} </span><p><p>
  </form>



<!-- 3. 토큰 전송-->
  <form method='POST'>
    <div class="panel panel-default" style="
    margin-bottom: 0px;">
    <div class="panel-body" style="text-align:center; font-size:18px;">
      To Send Token
    </div>
    </div>


    <span class="input-group-addon" id="sizing-addon1">
  Address to send </span>
<input type="text" class="form-control" list="user_name" name='user_name_transfer' placeholder="Address" aria-describedby="sizing-addon1">


<datalist id = 'user_name'>
{% for user in user_list %}
<option value={{user}}></option>
{% endfor %}
</datalist>


<input type="text" class="form-control" name="amount" placeholder="Amount" aria-describedby="sizing-addon1">
<input type="submit" value="확인">

</form>

</div>


</div>







</div>
<br>
<br>
<br>
<br>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>

</body>
</html>
